.booking-form-type-cottage {
  .make-row();
  &__inner {
    .make-lg-column-offset(2);
    .make-lg-column(8);
    background-color: #fff;
  }
  & label {
    display: inline-block;
    vertical-align: top;
    color: @gray;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    position: relative;
    @media (min-width: @screen-sm-min) {
      
      width: 24%;
      padding: 40px 0;
      margin: 25px 0;

      &:after {
        border-right: 1px solid @gray--light;
      }
      &:last-child:after {
        border-right: none;
      }
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
      padding: 15px 0;
    }
  }

  & input[type="radio"] {
    display: none;
    &:checked + span {
      color: @gray--dark;
      &:after {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/check.png');
        width: 16px;
        height: 12px;
        position: absolute;
        @media (min-width: @screen-sm-min) {
          top: 70px;
          left: 50%;
        }
        @media (max-width: @screen-xs-max) {
          top: 19px;
          left: 25%;
        }
        
        transform: translate(-50%);
      }
    }
  }
}