.booking-form-personal {
  .make-row();
  &__inner {
    .make-lg-column-offset(2);
    .make-lg-column(8);
    background-color: #fff;
    & div {
      display: inline-block;
      width: 48%;
    }
  }
  & input {
    //.make-lg-column(6);
    height: 48px;
    line-height: 48px;
    width: 100%;
    border: 1px solid @gray--light;
  }
  
}