.booking-form-dates {
  .make-lg-column(12);
  background-color: #fff;
  width: 200px;
  margin: auto;

  & input[type="text"]{
   padding: 5px;
   margin: 10px 0;
  }

  & label {
    float: left;
    width: 50%;
    padding: 50px;
  }
}