.booking-form-step {
  padding: 50px 0;
  text-align: center;

  &--gray {
    background-color: #f1f1f1;
  }

  &__wrapper {
    .container-fixed();

      @media (min-width: @screen-sm-min) {
        width: @container-sm;
      }
      @media (min-width: @screen-md-min) {
        width: @container-md;
      }
      @media (min-width: @screen-lg-min) {
        width: @container-lg;
      }
      overflow: hidden;
  }

  & label {
    text-transform: uppercase;
  }

  & input[type="text"]{
    border: 1px solid @gray--light;
  }

  &__number {
    .make-lg-column-offset(2);
    .make-lg-column(8);
    .make-md-column(12);

    font-style: 14px;
    color: #929292;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    .make-lg-column(12);
    font-size: 26px;
    text-align: center;
    padding-bottom: 20px;
  }

}