.booking-form-dates {
  .make-row();
  &__inner {
    .make-lg-column-offset(4);
    .make-lg-column(4);
    .make-xs-column(12);
    @media (max-width: @screen-xs-max) {
      margin: 20px 0;
    } 
    @media (min-width: @screen-sm-min) {
      background-color: #fff;   
    } 
       
  }
  

  & input[type="text"]{
    padding: 5px;
    margin: 10px 0;
    color: @green;
  }

  & label {
    display: inline-block;
    text-transform: uppercase;
    @media (max-width: @screen-xs-max) {
      width: 100%;  
    } 
    @media (min-width: @screen-sm-min) {
      width: 49%; 
      padding: 50px 0; 
      margin: 20px 0;
    } 
    
    
    border-right: 1px solid @gray--light;
    text-align: center;
    &:last-child {
      border-right: none;
    }
  }
}