.gallery {
  
  margin-bottom: 40px;

  &__container {
    .make-container();
  }

  &__main {
    height: 497px;
    overflow: hidden;
    text-align: center;
  }

  & .owl-controls{
    display: none;
  }

  // &__thumbs div {
  //   height: 113px;
  //   overflow: hidden;
  //   text-align: center;
  // }
}