.location {
  
  &__container {
    .make-container();
  }

  padding: 20px 0;

  &__inner {
    .make-row();
  }

  &__title {
    .make-lg-column(12);
    color: @text-color;
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
  }

  &__bus {
    .make-lg-column(6);
    .make-sm-column(6);
  }

  &__train {
    .make-lg-column(6);
    .make-sm-column(6);
  }


}