.location {
  
  &__container {
    .make-container();
  }

  padding: 100px 0 70px;

  &__inner {
    .make-row();
  }

  &__title {
    .make-lg-column(12);
    color: @text-color;
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
  }

  &__sub-title {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 35px;
  }

  &__bus {
    .make-lg-column(6);
    .make-sm-column(6);
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      background-image: url('../img/bus.png');
      width: 50px;
      height: 29px;
      transform: translate(-50%);
    }
  }

  &__train {
    .make-lg-column(6);
    .make-sm-column(6);
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 3px;
      background-image: url('../img/train.png');
      width: 58px;
      height: 26px;
      transform: translate(-50%);
    }
  }


}