.page-header {
  font-family: @font-family;
  border-bottom: 1px solid @gray--light;

  &__container {
    .make-container();
  }

  overflow: hidden;
  //text-align:center;

  height: 90px;

  &__inner {
    .make-row();
  }

  &__contacts {
    .make-lg-column(3);
    .make-md-column(3);
    padding-top: 25px;
    & strong {
      font-size: 18px;
      font-family: @font-family--sans;
    }
  }

  &__btn {
    .make-lg-column(2);
    .make-md-column(2);
    text-align: right;
    padding-top: 26px;
  }

  &__logo{
    .make-lg-column(2);
    .make-md-column(12);
    text-align: center;
    padding-top: 17px;
  }
}

