.promo{
  
  &__slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    display: none;
  }

  &__slide--active {
    display: block;
  }

  &__slide-container {
    .make-container();
    @media (max-width: @screen-xs-max) {
     padding: 0;
    }
  }

  &__slide-inner {
  }

 

  &__slide-title {
    padding: 10px;
    font-size: 36px;
    margin-top: 70px;

    @media (min-width: @screen-xs-min) {
      width: 100%;  
    }

    @media (max-width: @screen-xs-max) {
      font-size: 18px; 
      width: 100%;
      background-color: #fff;
    } 

    @media (min-width: @screen-sm-min) {
      margin-bottom: 20px;  
    } 

    @media (min-width: @screen-lg-min) {
      width: 535px;  
    } 
  }

  &__slide-description {
    padding: 10px;
    font-size: 18px;

    & span {
      background-color: #fff;
    }

    @media (max-width: @screen-xs-max) {
      width: 100%; 
      background-color: #fff; 
    }
  }
  
  @media (min-width: @screen-sm-min) {
    & span {
      background-color: #fff;
      padding: 0 10px;
    } 
  }


}