.relax{
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
  overflow: hidden;

  background-image: url('../img/relax-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &__wrapper-slides {
    .make-row();
  }

  text-align: center;

  &__title {
    .make-lg-column(12);
    .make-sm-column(12);
  }

  &__wrapper-text {
    .make-lg-column(6);
    .make-lg-column-offset(3);
    .make-sm-column(12);
  }
  
  &__features {
    .make-lg-column(12);
    .make-sm-column(12);
    & li {
      display: inline-block;
      vertical-align: top;
      width: 120px;
      background-repeat: no-repeat;
      background-position: top center;
      padding-top: 90px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}