.review {
  background-image: url('../img/review-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;

  &__container {
    .make-container();
  }

  &__inner {
    .make-row();
  }

  &__title {
    .make-lg-column(12);
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin: 50px 0 0;
  }

  &__carousel {
    padding: 0 30px;
  }

  &__arrow-left {
    .make-lg-column(1);
  }

  &__arrow-right {
    .make-lg-column(1);
    vertical-align: middle;
  }
  
  &__slide {
    .make-lg-column(12);
    .make-sm-column(6);
    .make-xs-column(12);
    margin-top: 60px;
  }

  &__slide-inner {
    padding: 80px 40px 20px;
    background-color: #fff;
    text-align: center;
  }

  &__button {
    .make-lg-column(12);
    text-align: center;
    padding-top: 50px;
  }

  &__slide-footer {
    margin-top: 20px;
  }

  &__author {
    position: absolute;
    top: -20px;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%);
  }

  &__date {
    font-size: 12px;
    font-weight: normal;
  }

  &__author-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: -25px;
    margin-bottom: 7px;
    overflow: hidden;
    border: 2px solid #fff;
  }
}