.rooms-header{
  background-image: url('../img/room-list-title-bg.png');
  background-position: center center;
  height: 200px;

  &__title {
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 45px;
    margin: 0;
  }

  & p{
    text-align: center;
    color: #fff;
  }
}