.room-header {
  text-align: center;
  &__title {
    font-size: 30px;
    margin: 0;
    line-height: 30px;
    padding-top: @padding-top-header;
    padding-bottom: 10px;
  }
}


.room {
  &__container {
    .make-container();
    position: relative;
  }
  padding-top: 50px;
  &__inner {
    .make-row();
  }

  &__gallery-container {
    @media (max-width: @screen-md-max) {
     width: 100%;
    }
    @media (min-width: @screen-lg-min) {
      width: 50%;
      position: absolute;
      right: 0;
    }
  }

  & .owl-carousel .owl-controls .owl-prev {
    left: 15px;
  }

  & .owl-carousel .owl-controls .owl-next {
    right: 15px;
  }
  
  .btn, &__price {
    text-align: center;
  }

  ul {
    @media (min-width: @screen-lg-min) { 
      column-count: 2;
      height: 125px;
    }
    list-style-type: decimal;
    
  }

  li {
    list-style-type: none;
  }

  li::before {
    content: ">";
    color: @orange;
    padding-right: 15px;
  }
 

  &__description {
    @media (max-width: @screen-md-max) {
      width: 100%;
      padding: 0 30px;
    }
    @media (min-width: @screen-lg-min) {
      width: 50%;
    }
    font-size: 16px;
  }

  &__description-title {
    font-size: 26px;
    padding-top: 10px;
  }

  &__description-text {
    margin: 14px 0;
  }


}

.room-booking {
  text-align: center;
  padding-bottom: 50px;
}



